<div class="current-container">
    <div class="search">
        <input type="text" placeholder="Type keyword or Job code" name="search" class="text1">
    </div>
    <div class="container">
        <div class="line">
            <span class="p">Recommended for Job (2410)</span>
        </div>
        <!-- Card GROUP Starts Here -->
        <div class="cwrap">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">ProjectLead -</h4>
                    </div>
                    <div class="card-bodys">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button" class="button"><span style="display: flex;justify-content: center;align-items: center;">APPLY</span> </button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 2-card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Developer.NET</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/ind-flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Bangalore,India </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:1-3 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 3-card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Lead Microsoft</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:5-8 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 4.card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Big Data Lead</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/japan flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Yokohama,Japan </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 5th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">ProjectLead -</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 6th-card -->

                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Developer.NET</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/ind-flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Bangalore,India </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:1-3 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 7th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Lead Microsoft</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:5-8 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 8th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Big Data Lead</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/japan flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Yokohama,Japan </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card GROUP Ends Here -->
            <!-- more-button starts here -->
            <div class="morebtn" style="display: flex;
                justify-content: center;
                align-items: center; ">
                <a type="btn" class="btns" style="width: 150px;
                    height: auto;
                    padding: 0.4vw;
                    text-align: center;
                    cursor: pointer;
                    border: 1px solid darkblue;"><span style="color: black;">...MORE</span></a>
            </div>
            <!-- more-button Ends here -->
            <!-- Below Line starts Here -->
            <div class="line">
                <span class="p">Other available openings(2410)</span>
            </div>
            <!-- rounded buttons starts Here -->
            <div class="btng">
                <button class="btn2">Leadership(21)</button>
                <button class="btn2">Technologies(35)</button>
                <button class="btn2">Consulting(12)</button>
                <button class="btn2">Corparate(09)</button>
                <button class="btn2">Sales(18)</button>
                <button class="btn2">BPS(18)</button>
            </div>
            <!-- rounded buttons Ends Here -->
            <!-- Card-group starts here.. -->
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">ProjectLead -</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button" class="button"><span style="display: flex;justify-content: center;align-items: center;">APPLY</span> </button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 2-card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Developer.NET</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/ind-flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Bangalore,India </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:1-3 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 3-card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Lead Microsoft</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:5-8 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 4.card -->
                <div class="card">
                    <div class="card-headers">
                        <span>#593671</span>
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Big Data Lead</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/japan flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Yokohama,Japan </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 5th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">ProjectLead -</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 6th-card -->

                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Developer.NET</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/ind-flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Bangalore,India </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:1-3 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 7th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Lead Microsoft</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/usaflag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Minnesota,USA </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:5-8 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
                <!-- 8th-card -->
                <div class="card">
                    <div class="card-headers">
                        <!-- <span>#593671</span> -->
                        <h4 class="text-primary" style="font-size:1.5vw;font-weight: bold">Big Data Lead</h4>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/japan flag.png" alt="" width="15" height="10" style="background-repeat: no-repeat;"><span class="flag"> Yokohama,Japan </span>
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> Minnesota,USA -->
                        <p class="mas1">MAS</p>
                        <span class="exp">Experience:3-5 years</span>
                    </div>
                    <div class="card-footers">
                        <div class="txt">
                            <span class="text-primary">REFER</span>
                            <button type="button">APPLY</button>
                            <!-- <button class="btn btn-primary">APPLY</button> -->
                        </div>
                        <div class="checkbox1" style="margin: 0.2vw 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <input type="checkbox" class="check" style="margin:0.4vw;"><span style="font-size: 10px;">Mark not interested</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card-group Ends here.. -->