<div class="container-fluid">
    <!-- Header-Sec Ends Here -->
    <div class="header-sec">
        <!-- Header Starts Here -->
        <div class="header ">
            <!-- Left-Menu Starts  Here -->
            <div class="left-menu">
                <!-- Brand/logo -->
                <div class="logo">
                    <div class="img">
                        <img src="../assets/images/wiproicon.png" alt="logo" width="60" height="40">
                    </div>
                </div>
                <!-- Vertical-Line -->
                <div class="line"></div>
                <!-- name -->
                <div class="name">
                    <img src="../assets/images/golglogo.png" alt="logo" width="30px" class="img1">
                    <small class="text">Wipro Alumini</small>
                </div>
            </div>
            <!-- Left-Menu Ends Here -->

            <!-- Middle-Menu Starts Here -->
            <div class="middle-menu">
                <div class="navigation">
                    <!-- Menu -->
                    <ul>
                        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="selfservice" routerLinkActive="active">Self Service</a></li>
                        <li><a routerLink="engage" routerLinkActive="active">Engage</a></li>
                    </ul>
                </div>
            </div>
            <!-- Middle-Menu Ends Here -->
            <!-- Right-Menu Starts Here -->
            <div class="search-profile-notification">
                <div class="search"><span class="fa fa-search"></span></div>
                <div class="notification"><span class="fa fa-bell">
                <span class="header-notification"></span>
                    </span>
                </div>
                <div class="profile">
                    <div class="profile-image">
                        <img src="../assets/images/vidya.jpg" alt="dd" width="40">
                    </div>
                    <div>John Smith</div>
                </div>
            </div>
            <!-- Right-Menu Ends Here -->
        </div>
        <!-- Header Ends Here -->
        <!-- Jumbotron Starts Here-->
        <div class="jumbo">
            <div class="jumbotron text-center container-fluid" style="height: 250px;">
                <span class="eng"><h4>Engage</h4></span>
                <div class="con">
                    <h2 class="title">Welcome Back!</h2>
                    <span>You can apply relavent job oppurtunities or refer someone</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron Ends Here-->
    <!-- Header-Sec Ends Here -->
    <!-- Section Starts Here -->
    <div class="section">
        <router-outlet></router-outlet>
    </div>
    <!-- Section Ends Here -->

    <!-- Footer Starts Here -->
    <div class="footer">
        <div class="txt1">
            <ul class="navi">
                <li>Terms of Use</li>
                <li>Privacy Statement</li>
                <li>Disclaimer</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="txt2">
            <div class="con"></div>
            <div class="con1"> ©2019 Wipro Limited <span class="v1"></span> All Rights Reserved</div>
            <div class="con2">Use GoogleChrome or Safari for best Experience</div>
        </div>
    </div>
    <!-- Footer Ends Here -->
</div>