<div class="container-fluid">
    <div class="header ">
        <div class="row">
            <div class="col-lg-2 col-md-2col-sm-12 col-xs-12">
                <!-- Brand/logo -->
                <a class="" href="#">
                    <img src="../assets/images/wiproicon.png" alt="logo" style="width:60px;position:relative;left: 1.2vw;">
                </a>
                <!-- <div class="line">|</div> -->
                <a class="" href="#">
                    <img src="../assets/images/golglogo.png" alt="logo" style="width: 40px;
                    position: relative;
                    left: 1.2vw;">
                    <small class="text" style="font-family: Arial, Helvetica, sans-serif;font-weight: 600">Wipro Alumini</small>
                </a>
            </div>
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 pull-right-custom">
                <div class="navigation">
                    <!-- Menu -->
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Email</a></li>
                    </ul>
                </div>
                <div class="search-profile-notification">
                    <div class="search"><span class="fa fa-search"></span></div>
                    <div class="notification"><span class="fa fa-bell"><sup>2</sup></span></div>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="../assets/images/vidya.jpg" alt="dd">
                        </div>
                        <div>John Smith</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbo">
        <!-- Jumbotron Starts Here-->
        <div class="jumbotron text-center container-fluid" style="height: 250px;">
            <span class="eng"><h4>Engage</h4></span>
            <div class="con">
                <h2 class="title">Welcome Back!</h2>
                <span>You can apply relavent job oppurtunities or refer someone</span>
            </div>
        </div>
        <!-- Jumbotron Ends Here-->
    </div>
    <div class="sec-nav">
        <div class="nav">
            <ol>
                <li><a routerLink="currentopenings" routerLinkActive="active">Current openings</a></li>
                <li><a routerLink="refer" routerLinkActive="active">Refer</a></li>
            </ol>
        </div>
    </div>

    <div class="section">
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <div class="txt1">
            <ul class="navi">
                <li>Terms of Use</li>
                <li>Privacy Statement</li>
                <li>Disclaimer</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="txt2">
            <div class="con"></div>
            <div class="con1"> ©2019 Wipro Limited | All Rights Reserved</div>
            <div class="con2">Use GoogleChrome or Safari for best Experience</div>
        </div>

    </div>
</div>