// Reset Layout Starts Here
.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex: 1 10%;
        flex-direction: row;
        // border: 2px solid red;
        .left-menu {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            left: 3vw;
            .logo {
                img {
                    border-radius: 50%;
                }
            }
            .line {
                border-left: 1px solid gray;
                margin-left: 5px;
                margin-right: 5px;
                height: 40px;
                opacity: 0.5;
            }
            .name {
                .img1 {}
                .text {
                    position: relative;
                    right: 1.4vw;
                    color: darkblue;
                    font-family: monospace;
                    font-size: 1vw;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                }
            }
        }
        .middle-menu {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: flex-end;
            // background-color: orange;
            justify-content: flex-end;
            align-items: center;
            .navigation {
                padding-right: 1vw;
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline;
                        padding: 0 1.5vw;
                        a {
                            text-decoration: none;
                            font-size: 1.5vw;
                            color: darkblue;
                            font-weight: 600;
                            &.active {
                                border-bottom: 3px solid darkblue;
                                padding-bottom: 0.7vw;
                            }
                        }
                    }
                }
            }
        }
        .search-profile-notification {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            .search {
                opacity: 0.5;
                color: grey;
            }
            .notification {
                padding-left: 3vw;
                .header-notification {
                    height: 7px;
                    width: 7px;
                    background: red;
                    right: 148px;
                    position: absolute;
                    top: 18px;
                    border-radius: 50%;
                }
            }
            .profile {
                padding-left: 3vw;
                display: flex;
                margin-right: 2.2vw;
                flex-direction: column;
                align-items: center;
                .profile-image {
                    width: 2vw;
                    height: 2vw;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .jumbotron {
        background-image: url("../assets/images/bgimage.jpg");
        box-sizing: content-box;
        border-radius: 0px;
        // border: 2px solid red;
    }
    .eng {
        width: 187px;
        text-align: left;
        color: white;
        margin-top: 4vw;
        border-bottom: 2px solid white;
    }
    h4 {
        font-size: 1.5rem;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        margin-left: 95px;
    }
    .con {
        color: white;
        font-family: "Courier New", Courier, monospace;
    }
    .section {
        display: flex;
        flex: 1 80%;
        box-shadow: 4px 1px 2px 5px #bbb8b8;
        // overflow: auto;
        background-color: #fafbfc;
    }
    .footer {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: darkblue;
        .txt1 {
            display: flex;
            flex: 1;
            padding: 0.5vw;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;
            ul {
                list-style-type: none;
                margin-bottom: 0;
                margin-top: 0;
                li {
                    display: inline;
                    margin: 4.5vw;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        .txt2 {
            display: flex;
            flex: 1;
            padding: 0.5vw;
            flex-direction: row;
            // border: 1px solid blue;
            .con {
                display: flex;
                flex: 1;
            }
            .con2 {
                display: flex;
                flex: 1;
                color: white;
                font-size: 14px;
                opacity: 0.5;
                justify-content: flex-end;
                align-items: flex-end;
            }
            .con1 {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                color: white;
                font-family: monospace;
                font-size: 16px;
                .v1 {
                    border-left: 1px solid gray;
                    height: 40px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
}

// Reset Layout Ends Here