// Reset Layout Starts Here
.engage-container {
    .row1 {
        .engage-navigation {
            display: flex;
            flex: 1 10%;
            height: 10%;
            padding: 0;
            margin: 0;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0.5vw;
                li {
                    display: inline;
                    margin: 2vw;
                    a {
                        text-decoration: none;
                        color: darkblue;
                        padding: 0.5vw;
                        &.active {
                            padding-bottom: 0.5vw;
                            border-bottom: 3px solid darkblue;
                        }
                    }
                }
            }
        }
        .engage-router-part {
            display: flex;
            flex: 1 10%;
            height: 90%;
        }
    }
}

// Reset Layout Ends Here