<div class="refer-container">
    <div class="container">
        <div class="card">
            <div class="card1">
                <div class="card-body">
                    <p class="card-text">Refer a friend by providing name,email address,contact number</p>
                </div>
            </div>
            <div class="card2">
                <div class="formBox">
                    <form>
                        <div class="rows">
                            <div class="col-sm-6">
                                <div class="inputBox ">
                                    <label>Job ID</label>
                                    <div class="inputText">.net</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Name</label>
                                    <div class="inputText">Dinesh kumar</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="rows">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Email Address</label>
                                    <div class="inputText">testmail@mailid.com</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Contact Number</label>
                                    <div class="inputText">9876543210</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="rows">
                            <div class="col-sm-12">
                                <label></label>
                                <div class="inputBox">
                                    <div class="inputText">Upload resume</div>
                                    <i class="fa fa-upload" aria-hidden="true" style="float: right;cursor: pointer;opacity: 0.5"></i>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>
                        <div class="rows">
                            <div class="col-sm-12">
                                <p style="font-size: 14px;opacity:0.9;">Use .word,.pdf format to upload</p>
                            </div>
                        </div>
                        <div class="rows">
                            <div class="col-sm-3 pull-right">
                                <input type="submit" name="" class="button" value="SUBMIT">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="card1">
                <div class="card-body">
                    <p class="card-text">Refer a friend by providing name,email address,contact number</p>
                </div>
            </div>
            <div class="card2">
                <div class="formBox">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox ">
                                    <label>Job ID</label>
                                    <div class="inputText">.net</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Name</label>
                                    <div class="inputText">Dinesh kumar</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Email Address</label>
                                    <div class="inputText">testmail@mailid.com</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label>Contact Number</label>
                                    <div class="inputText">9876543210</div>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="inputBox">
                                    <div class="inputText">Upload resume</div>
                                    <i class="fa fa-upload" aria-hidden="true" style="float: right;cursor: pointer;"></i>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-size: 14px;opacity:0.9;">Use .word,.pdf format to upload</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <input type="submit" name="" class="button" value="SUBMIT">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

        </div>
    </div>