<div class="container-fluid">
    <div class="card">
        <!-- Card1 Starts Here -->
        <div class="card1">
            <div class="card-body">
                <p class="card-text">Refer a friend by providing name,email address,contact number</p>
            </div>
        </div>
        <!-- Card1 Ends Here -->
        <!-- Card2 Starts Here -->
        <div class="card2">
            <div class="formBox">
                <form>
                    <div class="rows">
                        <div class="col-sm-6">
                            <div class="inputBox ">
                                <label>Job ID</label>
                                <div class="inputText">.net</div>
                                <input type="text" name="" class="input">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label>Name</label>
                                <div class="inputText">Dinesh kumar</div>
                                <input type="text" name="" class="input">
                            </div>
                        </div>
                    </div>

                    <div class="rows">
                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label>Email Address</label>
                                <div class="inputText">testmail@mailid.com</div>
                                <input type="text" name="" class="input">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label>Contact Number</label>
                                <div class="inputText">9876543210</div>
                                <input type="text" name="" class="input">
                            </div>
                        </div>
                    </div>

                    <div class="rows">
                        <div class="col-sm-12">
                            <label></label>
                            <div class="inputBox">
                                <div class="inputText">Upload resume</div>
                                <i class="fa fa-upload" aria-hidden="true" style="float: right;cursor: pointer;opacity: 0.5"></i>
                                <input type="text" name="" class="input">
                            </div>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="col-sm-12">
                            <p style="font-size: 14px;opacity:0.9;">Use .word,.pdf format to upload</p>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="col-sm-3">
                            <!-- <input type="submit" name="" class="button" value="SUBMIT"> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                SUBMIT
                              </button>
                            <!-- The Modal Starts Here-->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header1">
                                            <h5 class="modal-title">Refer a Friend</h5>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="formBox">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <div class="inputBox1 ">
                                                            <label>Name</label>
                                                            <div class="inputText">Emmily Smith</div>
                                                            <input type="text" name="" class="input">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="inputBox1">
                                                            <label>EmailAddress</label>
                                                            <div class="inputText">emmysmith@email.com</div>
                                                            <input type="text" name="" class="input">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="inputBox1">
                                                            <label>Contact Number</label>
                                                            <div class="inputText">+911 11 12345678</div>
                                                            <input type="text" name="" class="input">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer1">
                                            <button type="button1" class="btn1 btn-light" data-dismiss="modal">CANCEL</button>
                                            <button type="button1" class="btn1 btn-info" data-dismiss="modal">REFER</button> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal Ends Here-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Card2 Ends Here -->

    </div>
    <!-- <div class="footer">
        <div class="txt1">
            <ul class="navi">
                <li>Terms of Use</li>
                <li>Privacy Statement</li>
                <li>Disclaimer</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="txt2">
            <div class="con"></div>
            <div class="con1"> ©2019 Wipro Limited All Rights Reserved</div>
            <div class="con2">Use GoogleChrome or Safari for best Experience</div>
        </div>
    </div> -->
</div>